*{
    margin: 0;
}
body{
    background-color: darkslateblue;
    grid-template-areas: 
        "header header header"
        "main main main"
        "aside aside aside";
    display: grid;
    grid-template-columns: 1fr 80vh 1fr;
    grid-template-rows: auto;
    font-family: comic sans;
    
}
header{
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
    padding-left: 1vh;
    grid-area: header;
    background-color: brown;
}
main{
    grid-area: main;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
aside{
    grid-area: aside;
    display: flex;
    justify-content: space-evenly;
    background-color: blue;
    
}